.each-card{
  width:36vw;
  margin-left: 31vw;
  border: 1px solid;
  margin-bottom: 40px;
}

.name{
  margin: 20px;
}

button{
  float: right;
  font-size: large;
  border: 0;
  background-color: white;
}



.img{
  width: 100%;
}

.like-share{
  margin: 10px;
}

.like-share img{
  height: 40px;
}

.like-share span{
  float: right;
}

.like-share p{
  margin-left:10px;
}